# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Virtual environment
venv/
.env/

# OS files
.DS_Store

# Logs
*.log

.pytest_cache/
.coverage

note.md

evaluation_results.json
detailed_results.json